html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

#my_select1 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#my_select2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
 ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

span 
{
    cursor: pointer
}
#modal 
{ 
    position: absolute; 
    width: 300px; 
    margin-left: -150px; 
    left: 50%; 
    top: -100%; 
    padding: 20px; 
    background: #fff; 
    border: 1px solid #333; 
    z-index: 9999; 
    transition: all 0.5s ease-in;
}
#overflow 
{
    width: 100%; 
    height: 100%; 
    z-index: 9998; 
    background: rgba(0,0,0,0.8); 
    position: absolute; 
    top: 0;
}